<!DOCTYPE html>

<html>
	<head>
		<meta name="viewport" content="width=device-width"/>
		<link rel="stylesheet" href="lib/css/bootstrap.css">
		<link rel="stylesheet" href="lib/css/bootstrap-grid.css">
		<title>SportsStore</title>
	</head>
	
	<body>
		<div class = "navbar navbar-inverse navbar-dark bg-dark text-light" role = "navigation" >
			<a class="navbar-brand" href="#">SPORTS STORE</a>
			<div class="col-4 text-right">
                @await Component.InvokeAsync("CartSummary")
            </div>
		</div>
		<div class = "row m-1 p-1" >
			<div id="categories" class="col-3">
                @await Component.InvokeAsync("NavigationMenu")
            </div>
			<div class = "col-9" >
				@RenderBody()
			</div>
		</div>
	</body>
</html>