
@{
    Layout = null;
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.Taghelpers

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>MyView</title>
    <link href="css/bootstrap-4.3.1/dist/css/bootstrap.css" />
</head>

    <body>
        <div class="container">
            @ViewBag.Greeting World (from the view)
            <p>
                We're going to have an exciting party. <br />
                (to do: sell it better. Add a pic or something.)
            </p>
        </div>

        <a class="btn btn-primary stretched-link" asp-action="RsvpForm">RSVP Form</a>
    </body>
</html>
