@model PartyEnvites.Models.GuestReponse;
@{
    Layout = null;
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html>
    <head>
        <link href="~/css/css/bootstrap.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width"/>
        <title>RSVP FORM</title>
    </head>

    <body>
        <div class="container">
            <form class="form-control" asp-action="RsvpForm" method="post">
                <p>
                    <label asp-for="Name">Your Name:</label>
                    <input asp-for="Name" />
                </p>
                <p>
                    <label asp-for="Email">Your Name:</label>
                    <input asp-for="Email" />
                </p>
                <p>
                    <label asp-for="Phone">Your Name:</label>
                    <input asp-for="Phone" />
                </p>
                <p>
                    <select asp-for="WillAttend">
                        <option value="">Choose an option</option>
                        <option value="true">Yes, I'll go.</option>
                        <option value="false">Nops, Sorryyy</option>
                    </select>
                </p>
                <button class="btn btn-primary" type="submit">Submit</button>
                <button type="reset">Reset</button>
            </form>
        </div>

        <a asp-action="RsvpForm">RSVP Form</a>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      
    </body>
</html>

