@model PartyEnvites.Models.GuestReponse;
@{
    Layout = null;
}

<DOCTYPE html />
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html>
    <head>
        <link href="~/css/css/bootstrap.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width" />
        <title>Thanks</title>
    </head>

    <body>
        <p>
            <h1>Thank you, @Model.Name</h1>
            @if (Model.WillAttend == true)
            {
                @:It's great that you're coming 
            } else
            {
                @:You will be missed
            }
        </p>
        see here who will attend. <a asp-action="ListResponse">List</a>
    </body>
</html>
