
@{
    ViewData["Title"] = "Display";
    Layout = "_Layout";
}

<h1>Display Page</h1>
<div class="container">
	<div class="row">
		<div class="col">
			<img src="~/lib/img/Pastel.jpg" alt="Pastel Picture" class="img-thumbnail"/>
		</div>
		<div class="col">
			<h2>Brazilian Pastel Recipe</h2>
			<h3>Ingredients:</h3>
			<p>
				<ol>
					<li>Item 1;</li>
					<li>Item 2;</li>
				</ol>
			</p>
			<hr/>
			<h3>Steps:</h3>
			<p>Space destined as a placeholder for the step by step instructions of the recipe.</p>
		</div>
	</div>
</div>
