@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class = "jumbotron" >
    <div class = "container" >
        <h1 class = "display-3" >
            Hello, World of Recipes!!
        </h1>
        <p>This is the initial template for the Recipes site. Everything in here is static and is yet to be programmed.</p>
        <p>
            <a class = "btn btn-primary btn-lg" asp-action="Display" role = "button" >
                List of Recipes
            </a>
        </p>
    </div>
</div>