
@{
	ViewData["Title"] = "User";
	Layout = "_Layout";
}

<h1>User Page Details</h1>
<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th>Recipe Name:</th>
				<th>Rating:</th>
				<th>Comments:</th>
				<th>Edit/Delete:</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Pastel Recipe</td>
				<td>5 Starts</td>
				<td>32 Comments</td>
				<td>
					<a href="#" class="btn btn-primary">
						<i class="far fa-edit fa-2x"></i>
					</a>
					<a href="#" class="btn btn-danger">
						<i class="far fa-trash-alt fa-2x"></i>
					</a>
				</td>
			</tr>
			<tr>
				<td>Pamonha Recipe</td>
				<td>4.8 Starts</td>
				<td>14 Comments</td>
				<td>
					<a href="#" class="btn btn-primary">
						<i class="far fa-edit fa-2x"></i>
					</a>
					<a href="#" class="btn btn-danger">
						<i class="far fa-trash-alt fa-2x"></i>
					</a>
				</td>
			</tr>
			<tr>
				<td>Brigadeiro Recipe</td>
				<td>4.5 Starts</td>
				<td>4 Comments</td>
				<td>
					<a href="#" class="btn btn-primary">
						<i class="far fa-edit fa-2x"></i>
					</a>
					<a href="#" class="btn btn-danger">
						<i class="far fa-trash-alt fa-2x"></i>
					</a>
				</td>
			</tr>
			<tr>
				<td>Shrimp Bobo Recipe</td>
				<td>5 Starts</td>
				<td>28 Comments</td>
				<td>
					<a href="#" class="btn btn-primary">
						<i class="far fa-edit fa-2x"></i>
					</a>
					<a href="#" class="btn btn-danger">
						<i class="far fa-trash-alt fa-2x"></i>
					</a>
				</td>
			</tr>
			<tr>
				<td>Bolo de Cenoura Recipe</td>
				<td>4.8 Starts</td>
				<td>9 Comments</td>
				<td>
					<a href="#" class="btn btn-primary">
						<i class="far fa-edit fa-2x"></i>
					</a>
					<a href="#" class="btn btn-danger">
						<i class="far fa-trash-alt fa-2x"></i>
					</a>
				</td>
			</tr>
			<tr>
				<td>Feijoada Recipe</td>
				<td>4.5 Starts</td>
				<td>4 Comments</td>
				<td>
					<a href="#" class="btn btn-primary">
						<i class="far fa-edit fa-2x"></i>
					</a>
					<a href="#" class="btn btn-danger">
						<i class="far fa-trash-alt fa-2x"></i>
					</a>
				</td>
			</tr>
			<tr>
				<td>Spaghetti Recipe</td>
				<td>4.7 Starts</td>
				<td>8 Comments</td>
				<td>
					<a href="#" class="btn btn-primary">
						<i class="far fa-edit fa-2x"></i>
					</a>
					<a href="#" class="btn btn-danger">
						<i class="far fa-trash-alt fa-2x"></i>
					</a>
				</td>
			</tr>
			<tr>
				<td>Lasagna Recipe</td>
				<td>4.4 Starts</td>
				<td>6 Comments</td>
				<td>
					<a href="#" class="btn btn-primary">
						<i class="far fa-edit fa-2x"></i>
					</a>
					<a href="#" class="btn btn-danger">
						<i class="far fa-trash-alt fa-2x"></i>
					</a>
				</td>
			</tr>
			<tr>
				<td>Sirloin Recipe</td>
				<td>5 Starts</td>
				<td>12 Comments</td>
				<td>
					<a href="#" class="btn btn-primary">
						<i class="far fa-edit fa-2x"></i>
					</a>
					<a href="#" class="btn btn-danger">
						<i class="far fa-trash-alt fa-2x"></i>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
