<!DOCTYPE html>

<html>
	<head>
		<title>@ViewBag.Title</title>
		<meta name="viewport" content="width=device-width" />
		<style>
			#mainDiv {
				padding: 20px;
				border: solid black medium;
				font-size: 20px;
			}
		</style>
	</head>
	<body>
		<h1>Product Name</h1>
		<div id = "mainDiv" >
			@RenderBody()
		</div>
	</body>
</html>