@{ 
		Layout = null;
}

<!DOCTYPE html>
<html>
	<head>
		<title>Index</title>
		<meta name="viewport" content="width=device-width" />
	</head>
	<body>
		<div>
			Good @ViewBag.Greetings World (from the View)
			<p>We are going to have an exciting party.<br/>
			(to do: sell it better after.)</p>
			<a asp-action="RsvpForm">Rsvp Form</a>
		</div>
	</body>
</html>

